.catalogue-modal-content {
  height: 70vh;

  .resources-list, .resource-info-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }
}
@include media-breakpoint-down(md) {
  .resource-info {
    display: none;
  }
  .selected-resource {
    .resource-selection {
      display: none !important;
    }
    .resource-info {
      display: block;
    }
  }
}
