@import "./SearchLocation/searchlocation";

#top-content {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .over-map-left {
    padding: 10px;
    left: 0;
    top: 0;
    position: absolute;
    width: 400px;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .over-map-right {
    right: 0;
    top: 0;
    position: absolute;

    #managing {
      margin-top: 10px;
      margin-right: 10px;
      pointer-events: none;

      .slide-bar-content {
        height: 200px;
      }
    }
  }
}
