.time-slot {
  position: relative;
  height: 25px;
  padding-bottom: 0.5rem;
  max-width: 50px;

  .time-slot-content {
    @include button-variant($secondary, $secondary);
    cursor: pointer;
  }

  &.with-indicator {
    border-left: 1px solid var(--secondary);
  }

  .time-slot-indicator {
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 100%;
  }

  &.now {
    pointer-events: none;
    .now-content {
      border: 1px solid var(--white);
      color: var(--white);
      &:after {
        content: "NOW";
        font-size: $small-font-size;
        font-weight: $font-weight-normal;
        line-height: 100%;
        vertical-align: text-top;
      }
    }
  }

  &.current-time {
    transition-duration: 0.3s;
  }
}