.sidebar {
  position: fixed;
  /* top layer */
  z-index: $zindex-fixed;
  background: var(--white);
  transition: all 0.3s;

  &.static {
    transition: none;
  }

  &.left {
    top: 0;
    left: 0;
    height: 100%;
    min-width: 500px;
    max-width: 500px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  &.right {
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 350px;
    max-width: 350px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  &.bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }

  .sidebar-container {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.w-md {
    min-width: 300px;
    max-width: 300px;
  }

  &.w-lg {
    min-width: 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar.left, .sidebar.right {
    min-width: 100%;
    max-width: 100%;
  }
}

.sidebar-enter-active {
  transition: all .3s ease;
}
.sidebar-leave-active {
  transition: all .3s ease;
}
.sidebar-enter, .sidebar-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.sidebar-enter.left, .sidebar-leave-to.left {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar-enter.bottom, .sidebar-leave-to.bottom {
  transform: translateY(100%);
  opacity: 0;
}
