@import "./OverMapControl/TimeSlot/timeslot";

.over-map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .over-map-control {
    pointer-events: auto;
    z-index: 1000;
  }

  .over-map-left {
    padding: 10px;
    left: 0;
    top: 0;
    position: absolute;
    width: 400px;
    pointer-events: auto;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .over-map-right {
    right: 0;
    top: 0;
    position: absolute;

    #managing {
      margin-top: 10px;
      margin-right: 10px;
      pointer-events: none;

      .slide-bar-content {
        height: 200px;
        text-align: right;
      }
    }
  }

  .over-map-bottom {
    padding: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: auto;
  }
}
