.autocomplete {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}

.autocomplete-results {
  padding: 0;
  margin: 0;
}

.autocomplete-result {
  background-color: var(--light);
  list-style: none;
  text-align: left;
  padding: $input-padding-y $input-padding-x;
  cursor: pointer;
}

.autocomplete-result:hover, .autocomplete-result.is-active {
  background-color: var(--info);
  color: var(--white);
}