@import "../node_modules/leaflet/dist/leaflet.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "./components/Map/OverMap/overmap";
@import "./components/SideBar/sidebar";
@import "./components/SearchLocation/searchlocation";
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.shadow-top {
  box-shadow: 0 0 1rem rgba($black, .15) !important;
}