@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet-draw/dist/leaflet.draw-src.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "./components/Map/OverMap/overmap";
@import "./components/Modal/modal";
@import "./components/SideBar/sidebar";
@import "./components/Slider/slider";
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.shadow-top {
  box-shadow: 0 0 1rem rgba($black, .15) !important;
}

$font-size-xs:                ($font-size-base * .750) !default;

$line-height-xs:              1.5 !default;

$input-btn-padding-y-xs:      .125rem !default;
$input-btn-padding-x-xs:      .25rem !default;
$input-btn-line-height-xs:    $line-height-xs !default;

$btn-padding-y-xs:            $input-btn-padding-y-xs !default;
$btn-padding-x-xs:            $input-btn-padding-x-xs !default;
$btn-line-height-xs:          $input-btn-line-height-xs !default;

$border-radius-xs:            .15rem !default;

$btn-border-radius-xs:        $border-radius-xs !default;

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
}

.btn-group-xs > .btn { @extend .btn-xs; }