@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet-draw/dist/leaflet.draw-src.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "./utils/bootstrap-custom";
@import "./components/Map/OverMap/overmap";
@import "./components/Modal/modal";
@import "./components/SideBar/sidebar";
@import "./components/Slider/slider";
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}
