.vue-slider-component {
  .vue-slider-piecewise-label {
    &.active {
      color: var(--primary);
      font-weight: bold;
    }
  }
  .vue-slider-tooltip {
    background-color: var(--primary);
    border-color: var(--primary);
  }
  .vue-slider-dot {
    background-color: var(--primary);
  }
  .vue-slider-process {
    background-color: var(--secondary);
  }
}